.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.searchBar {
  border: 1px;
  border-radius: 1px;
  width: 35%;
  height: auto;
  background-color: rgb(255, 254, 254);
  border-color: rgb(42, 181, 236);
  border-style: solid;
  margin: 0 auto;
  margin-bottom: 2rem;
}